In [2]:
import pandas as pd
import time
from datetime import datetime
from pandas import ExcelWriter 
pd.__version__

'1.0.0'

In [2]:
temp=1588744463872/1000
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(temp))

'2020-05-06 13:54:23'

In [3]:
temp=1588744479826/1000
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(temp))

'2020-05-06 13:54:39'

In [4]:
    # Total number of seconds between dates

In [74]:
class JTLReader:
    def __init__(self,jtlPath):
        self.jtlPath=jtlPath
        self.jtlColumns = ['timeStamp', 'elapsed','label','dataType','bytes','URL','allThreads','success','responseCode']
        %time self.df_Jtl=pd.read_csv(self.jtlPath,usecols=self.jtlColumns,dtype={'label':'category'})#dtype={'label':'category'},nrows=100     
        self.shape=self.df_Jtl.shape
        self.rows=self.shape[0]
        self.rows
        """Conver Epoc time to Actual Time Start"""
        self.df_Jtl['timeStamp'] = pd.to_datetime(self.df_Jtl['timeStamp'],unit='ms')
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype('datetime64[s]')#reduce precision pandas timestamp dataframe
        self.df_Jtl['timeStamp']=self.df_Jtl['timeStamp'].dt.tz_localize('utc').dt.tz_convert('Singapore')
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype(str).str[:-6]
        self.df_Jtl['timeStamp'] = pd.to_datetime(self.df_Jtl['timeStamp'])
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype('datetime64[s]')
        """Conver Epoc time to Actual Time End"""
        self.filt=(pd.isnull(self.df_Jtl['URL'])) & (pd.isnull(self.df_Jtl['dataType']))
        self.df_jtl_TC=self.df_Jtl.loc[self.filt]
        self.df_jtl_HTTPReqeust=self.df_Jtl.loc[~self.filt]
        
      
        
    """def getTransactionControllerData(self):
        print("Hello shiva")
        filt=(pd.isnull(self.df_Jtl['URL'])) & (pd.isnull(self.df_Jtl['dataType']))
        self.df_jtl_TC=self.df_Jtl.loc[filt]
        return self.df_jtl_TC"""
        
       
        
    def converTimeStamp(self):
        self.df_Jtl['timeStamp'] = pd.to_datetime(self.df_Jtl['timeStamp'],unit='ms')
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype('datetime64[s]')#reduce precision pandas timestamp dataframe
        self.df_Jtl['timeStamp']=self.df_Jtl['timeStamp'].dt.tz_localize('utc').dt.tz_convert('Singapore')
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype(str).str[:-6]
        self.df_Jtl['timeStamp'] = pd.to_datetime(self.df_Jtl['timeStamp'])
        self.df_Jtl['timeStamp'] = self.df_Jtl['timeStamp'].astype('datetime64[s]') 
        
    def ms_to_sec(self):
         self.df_Jtl['elapsed']=((self.df_Jtl['elapsed'])/1000)
        
        
    def overAllResponseTimeSummary(self):
        self.df_overAllResponseTimeSummary=self.df_jtl_TC[['timeStamp','elapsed']]
        return self.df_overAllResponseTimeSummary
       
    def listOfErrors(self):
        return self.df_Jtl['responseCode'].value_counts()
    
    def shapeOfDaraFrame(self):
        return self.df_Jtl.shape
    
    def columnType(self,columnName):
        self.columnName=columnName
        return self.df_Jtl[self.columnName].dtype
    
    def getPeriod(self):
        self.startTime=self.df_Jtl['timeStamp'][0]
        self.endRow=self.df_Jtl['timeStamp'].shape[0]
        self.endTime=self.df_Jtl['timeStamp'][self.endRow-1]
        return f'{self.startTime} : {self.endTime}'
    
    def getDuration(self):
        self.startTime= self.df_Jtl['timeStamp'][0]
        self.endRow= self.df_Jtl['timeStamp'].shape[0]
        self.endTime= self.df_Jtl['timeStamp'][self.endRow-1]
        self.executionStartTime=datetime(self.startTime.year,self.startTime.month,self.startTime.day,self.startTime.hour,self.startTime.minute,self.startTime.second)
        self.executionEndTime=datetime(self.endTime.year,self.endTime.month,self.endTime.day,self.endTime.hour,self.endTime.minute,self.endTime.second)
        self.timeDiff = self.executionEndTime-self.executionStartTime
        self.duration_in_s = self.timeDiff.total_seconds()
        self.duration=time.strftime("%H:%M:%S", time.gmtime(self.duration_in_s))
        return self.duration
    
    def getMaxRunningVusers(self):
        self.allThread=self.df_Jtl['allThreads'].max()
        return self.allThread 
    
      
    def getTotalHits(self):
        return self.df_jtl_HTTPReqeust.shape[0]
    
    def getAvgHitsPerSecond(self):
        return self.df_jtl_HTTPReqeust.shape[0]/self.duration_in_s
    
    def getTotalThroughput(self):
        self.totalThroughput=self.df_jtl_TC['bytes'].sum()
        return self.totalThroughput
    
    def getAvgThroughputPerSecond(self):
        self.avgThroughput=(self.df_jtl_TC['bytes'].sum())/self.duration_in_s
        return self.avgThroughput
    
    

    def getAnalysisSummary(self):
        self.period=self.getPeriod()
        self.duration=self.getDuration()
        self.maxRunningVusers=self.getMaxRunningVusers()
        self.totalThroughput=self.getTotalThroughput()
        self.avgThroughputPerSecond=self.getAvgThroughputPerSecond()
        self.totalHits=self.getTotalHits()
        self.avgHitsPerSecond=self.getAvgHitsPerSecond()
        
        self.df_AnalysisSummary=pd.DataFrame(
            {
                'Data':[
                        'Period','Duration','Maximum Running Vusers','Total bytes',
                        'Average bytes/second','TotalHits','Average Hits Per Second',
                        'Total Error','Total Pass','Total Failed'
                ],
                'Values':[
                            self.period,self.duration,self.maxRunningVusers,self.totalThroughput,
                            self.avgThroughputPerSecond,self.totalHits,self.avgHitsPerSecond,
                            'NA','NA','NA'
                ]
                
            }
        )
        return self.df_AnalysisSummary
    
    def responseTimeSummary(self):
        self.df_responseTimeSummary=self.df_jtl_TC[['label','elapsed']]
        self.df_txnGroup=self.df_responseTimeSummary.groupby(['label'],observed=True)  #observed=True      
        self.df_txnGroup=self.df_txnGroup.elapsed.describe(percentiles=[.90])#self.df_txnGroup.describe(percentiles=[.90])
        self.df_txnGroup.columns=self.df_txnGroup.columns.get_level_values(0)#self.df_txnGroup.columns=self.df_txnGroup.columns.get_level_values(1)
        self.df_txnGroup = self.df_txnGroup[['count','min','mean','90%','max',]]
        self.df_txnGroup.rename(columns={'count':'#Samples','min':'Min','mean':'Average','90%':'90 Percentile','max':'Max'},inplace=True)
        ##self.df_txnGroup=self.df_txnErrorGroup.reset_index() """To be enable if you run describe () on data frame. Now we are running on specific column"""
        #self.df_txnGroup['throughput']=self.df_txnGroup['count']/self.duration_in_s
        #self.validTxn_filt=(self.df_txnGroup['count']>0)
        self.df_responseTimeSummaryOutput=self.df_txnGroup #self.df_txnGroup[self.validTxn_filt]
       
        return self.df_responseTimeSummaryOutput
    
    def getPassFailSummary(self):
        self.df_passFailSummary=self.df_jtl_TC[['label','success']]
        self.df_passFailGroup=self.df_passFailSummary.groupby(['label'],observed=True)#whe we use observed=True-->refer https://stackoverflow.com/questions/54922327/valueerror-operands-could-not-be-broadcast-together-with-shape-when-calling-pan?answertab=votes#tab-top
        self.df_txnGroup=self.df_passFailGroup['success'].value_counts()
        self.df_txnGroupSlice=self.df_txnGroup.loc[:,]
        self.df_passFailSummaryOutput=self.df_txnGroupSlice.unstack()
        self.df_passFailSummaryOutput.rename(columns={True:'Pass',False:'Fail'},inplace=True)
        return self.df_passFailSummaryOutput
        
    def getFinalResponseSummary(self):
        rs=pd.merge(self.df_responseTimeSummaryOutput,self.df_passFailSummaryOutput,left_index=True,right_index=True)
        rs['Error%']=((rs['Fail'])/(rs['#Samples']))*100 
        rs=rs[['#Samples','Pass','Fail','Error%','Min','Average','90 Percentile','Max']]
        return rs    
    
    def getRunnerVuserGraphData(self):
        '''T=min,S=Seconds'''       
        self.df_vusers=self.df_jtl_TC[['timeStamp','allThreads']]
        self.df_vusers.sort_values(by=['timeStamp'])
        self.df_vusers.set_index('timeStamp',inplace=True)
        self.df_vusers_summary = pd.DataFrame()
        self.df_vusers_summary['Vusers']=self.df_vusers['allThreads'].resample('1T').max()     
        return self.df_vusers_summary
         
        
    
    def getHitsPersecondGraphData(self):
        '''T=min,S=Seconds'''
        #self.df_jtl_HTTPReqeust['hits']=1
        self.df_hits=self.df_jtl_HTTPReqeust[['timeStamp','URL']]#self.df_jtl_HTTPReqeust[['timeStamp','hits']]
        self.df_hits.sort_values(by=['timeStamp'])
        self.df_hits.set_index('timeStamp',inplace=True)
        self.df_hits_summary = pd.DataFrame()
        self.df_hits_summary['hitsCount']=self.df_hits['URL'].resample('1T').count()     
        return self.df_hits_summary
    
    def getThrouhputPersecondGraphData(self):
        '''T=min,S=Seconds'''
        self.df_throughput=self.df_jtl_TC[['timeStamp','bytes']]
        self.df_throughput.sort_values(by=['timeStamp'])
        self.df_throughput.set_index('timeStamp',inplace=True)
        self.df_throughput_summary = pd.DataFrame()
        self.df_throughput_summary['Throughput']=self.df_throughput['bytes'].resample('1T').sum()     
        return self.df_throughput_summary
    
    def getOverallResponseTime(self):
        return self.df_jtl_TC[['timeStamp','elapsed']]
        
    
    
      
obj1=JTLReader("D:\\Projects\\JTLAnalyser\\Scenario_LoadTest_12_API_15min_Loadtest.jtl") 
#obj1.converTimeStamp()
obj1.ms_to_sec() 
obj1.getDuration()

Wall time: 13 ms

'00:18:03'

In [295]:
#obj1.df_Jtl

In [296]:
#obj1.df_jtl_HTTPReqeust

In [297]:
#obj1.df_jtl_TC

In [129]:
#obj1.getPeriod()

In [130]:
#obj1.getDuration()

In [131]:
#obj1.getMaxRunningVusers()

In [132]:
#obj1.getTotalThroughput()

In [75]:
analysisSummary=obj1.getAnalysisSummary()
analysisSummary

                      Data                                     Values
0                   Period  2020-05-08 17:21:52 : 2020-05-08 17:39:55
1                 Duration                                   00:18:03
2   Maximum Running Vusers                                          4
3              Total bytes                                    1040314
4     Average bytes/second                                    960.585
5                TotalHits                                       4000
6  Average Hits Per Second                                    3.69344
7              Total Error                                         NA
8               Total Pass                                         NA
9             Total Failed                                         NA

In [76]:
#responseTimeSummary
responseTimeSummary=obj1.responseTimeSummary()
responseTimeSummary

                           #Samples  Min  Average  90 Percentile      Max
label
BP02_eIACSTransactionTime    1000.0  1.0  152.889          441.4  21129.0
BP01_BikeCounterStatus       1000.0  1.0  150.260          421.5  21132.0

In [78]:
passandfail=obj1.getPassFailSummary()
passandfail

success                    Fail  Pass
label
BP02_eIACSTransactionTime    12   988
BP01_BikeCounterStatus        6   994

In [79]:
rs=obj1.getFinalResponseSummary()
rs

,#Samples,Pass,Fail,Error%,Min,Average,90 Percentile,Max
label,,,,,,,,
BP02_eIACSTransactionTime,1000.0,988,12,1.2,1.0,152.889,441.4,21129.0
BP01_BikeCounterStatus,1000.0,994,6,0.6,1.0,150.260,421.5,21132.0

In [319]:
runningVuser=obj1.getRunnerVuserGraphData()
runningVuser

                     Vusers
timeStamp
2020-05-08 17:21:00     4.0
2020-05-08 17:22:00     4.0
2020-05-08 17:23:00     4.0
2020-05-08 17:24:00     4.0
2020-05-08 17:25:00     4.0
2020-05-08 17:26:00     4.0
2020-05-08 17:27:00     4.0
2020-05-08 17:28:00     4.0
2020-05-08 17:29:00     4.0
2020-05-08 17:30:00     4.0
2020-05-08 17:31:00     4.0
2020-05-08 17:32:00     2.0
2020-05-08 17:33:00     2.0
2020-05-08 17:34:00     2.0
2020-05-08 17:35:00     2.0

In [320]:
hitsPersecond=obj1.getHitsPersecondGraphData() 
hitsPersecond

                     hitsCount
timeStamp
2020-05-08 17:21:00          4
2020-05-08 17:22:00        208
2020-05-08 17:23:00        328
2020-05-08 17:24:00        330
2020-05-08 17:25:00        331
2020-05-08 17:26:00        331
2020-05-08 17:27:00        330
2020-05-08 17:28:00        330
2020-05-08 17:29:00        328
2020-05-08 17:30:00        326
2020-05-08 17:31:00        252
2020-05-08 17:32:00        114
2020-05-08 17:33:00        114
2020-05-08 17:34:00        112
2020-05-08 17:35:00         72

In [321]:
throughput=obj1.getThrouhputPersecondGraphData()
throughput

                     Throughput
timeStamp
2020-05-08 17:21:00     20634.0
2020-05-08 17:22:00    112480.0
2020-05-08 17:23:00     78720.0
2020-05-08 17:24:00     78720.0
2020-05-08 17:25:00     79680.0
2020-05-08 17:26:00     79680.0
2020-05-08 17:27:00     78720.0
2020-05-08 17:28:00     79680.0
2020-05-08 17:29:00     77760.0
2020-05-08 17:30:00     78720.0
2020-05-08 17:31:00     59520.0
2020-05-08 17:32:00     27840.0
2020-05-08 17:33:00     26880.0
2020-05-08 17:34:00     26880.0
2020-05-08 17:35:00     17280.0

In [322]:
#overAllResponseTimeSummary
obj1.overAllResponseTimeSummary()

               timeStamp  elapsed
0    2020-05-08 17:21:52    21129
3    2020-05-08 17:21:53    21004
6    2020-05-08 17:21:52    21132
7    2020-05-08 17:21:53    21007
12   2020-05-08 17:22:21        1
...                  ...      ...
5253 2020-05-08 17:35:32       36
5256 2020-05-08 17:35:34      436
5259 2020-05-08 17:35:34      421
5262 2020-05-08 17:35:37       42
5265 2020-05-08 17:35:37       38

[1756 rows x 2 columns]

In [264]:
overallResponseTime=obj1.getOverallResponseTime()
overallResponseTime

               timeStamp  elapsed
0    2020-05-08 17:21:52    21129
3    2020-05-08 17:21:53    21004
6    2020-05-08 17:21:52    21132
7    2020-05-08 17:21:53    21007
12   2020-05-08 17:22:21        1
...                  ...      ...
2694 2020-05-08 17:27:47       37
2697 2020-05-08 17:27:47       34
2700 2020-05-08 17:27:48      603
2703 2020-05-08 17:27:48      587
2706 2020-05-08 17:27:47       35

[903 rows x 2 columns]

In [234]:
writer = ExcelWriter('JTL_Log_Analyser_Output.xlsx',mode='w')
#Write Analysis Summary to Excel
analysisSummary.to_excel(writer,sheet_name='AnalysisSummary')
#write response summary to excel with txn name,min,avg,max,90% & max
rs.to_excel(writer,sheet_name='ResponseSummary')
#Write Running Vusers
runningVuser.to_excel(writer,sheet_name='RunningVuserSummary')
#Write Hits Summary
hitsPersecond.to_excel(writer,sheet_name='HitsSummary')
#Write Throughput Summary
throughput.to_excel(writer,sheet_name='ThroughputSummary')
#Write ResponseTime
overallResponseTime.to_excel(writer,sheet_name='ResponseTimeGraph')
writer.save()

In [ ]:
errorSummary=obj1.errorSummary()
errorSummary

In [ ]:
ser=obj1.calculateErrorPercentage(responseTimeSummary,errorSummary)
ser

In [ ]:
ser1=obj1.calculateErrorPercentage(responseTimeSummary,errorSummary)
writer = ExcelWriter('PythonExport.xlsx')
ser1.to_excel(writer,sheet_name='DS53_BidsBidValidatio')
writer.save()

In [ ]:
df=ser.unstack()
df

In [ ]:
df.loc[:,'Non HTTP response code: org.apache.http.conn.HttpHostConnectException']

In [ ]:
obj1.calculateErrorPercentage()

In [ ]:
temp=obj1.columnType('responseCode')
temp

In [ ]:
import random
import matplotlib.pyplot as plt
#from matplotlib import style
from matplotlib.pyplot import figure
import matplotlib.dates as mdates
%matplotlib inline


#print(plt.style.available)
#print(plt.__file__)

#style.use('dark_background')
plt.rcParams['figure.figsize']=[25,18]
fig = plt.figure(figsize=(20,10))
fig.set_facecolor('#003366')

# Add suplot syntax

ax1 = fig.add_subplot(211)

#To get data for x and y axis
x,y=Throughput.index,Throughput['Throughput']
#To rotate 
for label in ax1.xaxis.get_ticklabels():
    label.set_rotation(0)

#To print x axis with date and time
xfmt = mdates.DateFormatter('%H:%M:%S')#%d-%m-%y %H:%M:%S//ax.xaxis_date()
ax1.xaxis.set_major_formatter(xfmt)
ax1.fill_between(x,y,color="red",linewidth=5)#https://matplotlib.org/users/dflt_style_changes.html

# x and y label
ax1.set_xlabel('Time',fontsize=20,color='white')#alpha=0.3
ax1.set_ylabel('Throughput/sec',fontsize=20)
ax1.set_title('Throughput',fontsize=20,color='white')

#To drwa 4 lines with the desier colour : Top,Bottom,Left and Right
ax1.spines['bottom'].set_color('black')
ax1.spines['top'].set_color('black')
ax1.spines['left'].set_color('black')
ax1.spines['right'].set_color('black')

#
ax1.xaxis.label.set_color('white')#"Time"
ax1.yaxis.label.set_color('white')#"HitsPerMin"

ax1.tick_params(axis='x', labelcolor='white',labelsize=20)#"%d-%m-%y %H:%M:%S"
ax1.tick_params(axis='y', labelcolor='white',labelsize=20)#"Hits Count: 10,20,30,40,50,60,70"

ax1.set_facecolor('#003366')#https://matplotlib.org/users/colors.html

##003366

ax1.grid(which='major', linestyle='-', linewidth='0.2', color='white')#17becf
#ax1.grid(which='minor', linestyle=':', linewidth='0.5', color='red')

#ax1.set_yticks([0,1,2,3,4,5,6,7,8,9,10])
#ax1.set_xticks(['22:00:00','22:30:00','23:00:00','23:30:00','00:00:00',
               # '00:30:00','01:00:00','01:30:00','02:00:00','02:30:00',
               # '03:00:00','03:30:00','04:00:00','04:30:00'])
#ax.set_ylim((0, 6))
#ax.set_xlim()

#fig.savefig("E:\MaxUser.pdf",dpi=None,facecolor='#003366', edgecolor='#003366',bbox_inches='tight')
plt.show()